<% unless @logged %>
  <a href="/auth/twitter">Login in Twitter App</a>
<% else %>
  Token: <%= session[:token] %><br />
  <a href="/logout">Logout</a>
<% end %>

<% if @logged %>

  <% if params[:posted] %>
    <br>
    Posted ok.
    <a href="/">Back</a>
  <% else %>
    <%= erb :'_form_post', :layout=>false %>
  <% end %>

<% end %>