<html>
  <head>
    <title>Twitter demo</title>
  </head>
  <body>
    <h1>Twitter post demo app</h1>

    <%= yield %>

    <br />
    <br />
    <small>
      <a href="https://github.com/nemilya/twitter-demo">github</a> |
      <a href="https://github.com/nemilya/twitter-demo/blob/master/README.md">readme</a>
    </small>
  </body>
</html>